html {
    background-color: white;
}
body {
    -webkit-font-smoothing: antialiased;
    margin: 5px;
}
.font {
	font-family: "Roboto", sans-serif;
}
.navDownOuter {
    background-color: teal;
}
.navLogoContainer{
    height: 46.03px;
    width: 201px;
}
.navOpenKastButton {
	font-size: 18px;
    height: 27px;
    width: 104;
	line-height: 44px;
	padding: 130 50;
	font-weight: 500;
    letter-spacing: 1.5px;
    border: thin solid white;
	border-radius: 3px;
	text-align: center;
    background-color: transparent;
    color: white;
    text-decoration: none;
    align-self: center;
    -webkit-tap-highlight-color: transparent;
}
.dropListContainer {
    color: white;
}
.banner {
	background-image: url("https://www.kastapp.co/assets/pages/home/gradient-violet-bg.jpg");
	background-color: #531f62;
	background-size: cover;
	padding-top: 83px !important;
	padding-bottom: 60px !important;
	margin-left: -1px;
	margin-right: -1px;
	width: 100%;
	height: 598px;
}
.innerBanner {
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#laptop {
    flex: 1 0 auto;
    width: 40%;
    align-self: center;
}
h1 {
    flex: 4 4 auto;
	color: white;
	display: block;
	text-align: center;
	font-size: 48px;
	line-height: 48px;
	font-weight: 500;
	width: 1140px;
    height: 48px;
    align-self: center;
}
.headDescription {
    flex: 4 4 auto;
	text-align: center;
	color: white;
	line-height: 40px;
	letter-spacing: 5px;
	width: 800px;
	height: 68px;
	margin: 40px auto 0 auto;
	font-size: 30px;
	font-weight: 100;
}
.buttonOuter{
    flex: 4 4 auto;
    font-size: 18px;
    align-self: center;
    margin-top: 80px;
}
.buttonKast {
    flex: 4 4 auto;
	font-size: 18px;
	height: 44px;
	line-height: 44px;
	padding: 10px 35px;
	font-weight: bold;
	letter-spacing: 1.44px;
	border-radius: 3px;
	background: #fe9000;
	text-align: center;
	border: 1px solid transparent;
	color: white;
    text-decoration: none;
    align-self: center;
}
.featOuter {
    height: 598px;
}
.featuredIn {
	margin: 80px 15px 15px 15px;
    background-color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.featTitle {
	color: rgb(67, 65, 70);
	font-size: 30px;
	font-weight: 500;
	font-kerning: auto;
	font-style: bold;
	text-align: center;
	width: 1140px;
	margin-bottom: 70px;
}
.featLogos {
	display: grid;
	width: 80%;
	height: 100%;
	background-color: white;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"logo1 logo2 logo3"
		"logo3 logo4 logo5"
		"footer footer footer footer";
	gap: 100px 100px;
	justify-items: stretch;
	align-items: center;
    justify-content: stretch;
    margin-bottom: 25px;
}
.featQuote {
	text-align: right;
	font-size: 20px;
	font-style: italic;
}
.whatIs {
	text-align: center;
	background-image: url("https://www.kastapp.co/assets/pages/home/green-bg.jpg");
	background-size: cover;
	padding-top: 83px !important;
	padding-bottom: 60px !important;
	margin-left: -1px;
	margin-right: -1px;
	width: 100%;
	height: 598px;
}
.whatIsInner {
	padding: 110px;
}
.whatIsHeader {
	color: white;
	font-size: 48px;
	margin-top: 40px;
	margin-bottom: 60px;
	line-height: 48px;
	font-weight: 800;
	font-stretch: normal;
}
.whatIsTextContainer {
	display: block;
	color: white;
}
.wiText {
	font-size: 20px;
	font-weight: 400;
	line-height: 34px;
	margin: 0 0 30px;
}
